<!-- THis page displays the task updation window  End point associated : edit -->

{%extends 'index.html'%}

    {% block content %}
        <div class="task__edit">
            <form  method = "POST" action="" class="form form--task" >
            {{ form.hidden_tag() }}
           
            {{ form.edittask(class="task__update form__input form__input--discription") }}



            <input type="date" name ="taskdate" class = "form__input form__input--date" value ="{{editTasks.date}}">
           

            
            {{ form.submit(class="task--update form__btn form__btn--close" ) }}

            

        </form>
        </div>
    {%endblock content%}