<!-- THis page displays the task updation window  End point associated : edit -->

{%extends 'index.html'%}

{% block name %}
<h1 class="Scheduled">Save Updated Tasks</h1>
{%endblock name%}

    {% block content %}
        <div class="task__edit">
            <form  method = "POST" action="" class="form form--task" >
            {{ form.hidden_tag() }}
           
            {{ form.edittask(class="task__update display--task form__input form__input--discription") }}



            <input type="date" name ="taskdate" class = "form__input form__input--date" value ="{{editTasks.date}}" required>
           

            
            {{ form.submit(class="task--update form__btn form__btn--close" ) }}

            

        </form>
        </div>
    {%endblock content%}

    {%block button%}
    <button class="btn--logout"><a href="{{url_for('home')}}" class ="">Home</a></button>
  {%endblock button%}
