<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://media.giphy.com/media/dSCrlEYBUjNWbgksWJ/giphy.gif"
    />

    <title>Todoist</title>
  </head>
  <body>
    <!-- TOP NAVIGATION -->
    <nav>
      <p class="welcome">welcome back, {{current_user}}</p>
      <img
        src="https://media.giphy.com/media/dSCrlEYBUjNWbgksWJ/giphy.gif"
        alt="Logo"
        class="logo"
      />

      <button class="logout"><a href="{{url_for('logout')}}" class ="">Logout</a></button>
    </nav>

    <main class="app">
      <!-- TASKS -->
      <div class="tasks">

        {% block content %}{% endblock %}
        
      </div>

      <!-- OPERATION: TASK -->

      {% block task%}{%endblock%}
      
      <!-- <div class="operation operation--task">
        
        <h2>Schedule Task</h2>
        <form action="" class="form form--task" method="POST">
          <input
            type="text"
            id="task"
            class="form__input form__input--discription"
            name ="taskdes"
            required
          />
          <label class="form__label" for="task">Task Discription</label>

          <input type="date" id="date" class="form__input form__input--date" name ="date"  required/>

          <button class="form__btn form__btn--task">&rarr;</button>
        </form>
      </div> -->
    </main>
    <script src="index.js"></script>
  </body>
</html>
