<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login_style.css')}}" />
    <title>Login </title>
</head>

<body>
    <div class="bg-image"></div>
    <main class="container">
    <form class = "loginForm" method="POST">
        <p>Login to your account</p>
        <input class="username"
        type = "text" 
        placeholder = "Username"
        required
        name = "users"
        autocomplete="off" 
        />
        <input 
        class="username"
        type = "password" 
        placeholder = "Password"
        required
        name = "pwd" 
        autocomplete="off" 
        />
        <div class="buttons">
        <button type = "submit" class="button">Login</button>
       <a href="{{url_for('register')}}" class="button" name="">Sign up</a>
        </div>
    </div>
    </form>
</main>
</body>
    

</body>
</html>