* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #333;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  transition: all 1s;
  padding: 2rem;
}


nav {
  max-width: 120rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.schedule{
  text-align: center;
}
.Scheduled{
  text-align: center;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
  display: inline;
}

.logo {
  height: 5.25rem;
}

.login__input {
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  border: 1px solid #fff;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  cursor: pointer;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: #777;
}

.app {
  max-width: 70rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  gap: 5rem;
}

.tasks {
  order: 2;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
  height: 50vh;
}
.task {
  justify-content: space-between;
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.task__edit{
  justify-content: space-between;
  padding: 2.25rem 4rem;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.task__discription {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.task__time--end {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}


.btn--logout, .btn--sort {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  padding: 1rem 2rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  margin-left: 4rem;
}

.logout:hover {
  transform: scale(0.97);
  transition: all 0.3s ease;
}

.operation--task {
  order: 1;
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.operation--task .form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
}

.operation--task .form__input {
  margin: 1rem 0 0.6rem 0;
}
.operation--task .form__input:nth-of-type(1) {
  margin-top: 2rem;
  height: 3.5vh;
  grid-column: 1 / span 5;
}
.operation--task label:nth-of-type(1) {
  margin-right: 40px;
  grid-column: 1 / span 5;
}
.operation--task input[type="date"] {
  margin-top: 3.5rem;
  grid-column: 1 / span 4;
}

.operation--task .form__btn {
  margin: 3.5rem 0 0.5rem 0;
  padding: 0.5rem;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0.4rem 1rem;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.5rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.task--update, .task--delete{
  font-size: 1.2rem;
  border: 2px solid #333;
  padding: 3px 10px;
  border-radius: 12px;
  margin-right: 1rem;
}

/* update */

.display--task {
 background-color:rgba(0, 0, 0, 0.2);
 border-radius: 10rem;
}



